In [3]:
import json
import requests as r
import pandas as pd

In [6]:
url = "https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/AAPL"

In [8]:
request = r.get(url)

In [9]:
Json = request.json()

In [19]:
pd.DataFrame(Json)

  symbol                                         financials
0   AAPL  {'date': '2018-09-29', 'Cash and cash equivale...
1   AAPL  {'date': '2017-09-30', 'Cash and cash equivale...
2   AAPL  {'date': '2016-09-24', 'Cash and cash equivale...
3   AAPL  {'date': '2015-09-26', 'Cash and cash equivale...
4   AAPL  {'date': '2014-09-27', 'Cash and cash equivale...
5   AAPL  {'date': '2013-09-28', 'Cash and cash equivale...
6   AAPL  {'date': '2012-09-29', 'Cash and cash equivale...
7   AAPL  {'date': '2011-09-24', 'Cash and cash equivale...
8   AAPL  {'date': '2010-09-25', 'Cash and cash equivale...
9   AAPL  {'date': '2009-09-26', 'Cash and cash equivale...

In [15]:
financials = pd.DataFrame(Json['financials'])

In [16]:
financials.head()

,date,Cash and cash equivalents,Short-term investments,Cash and short-term investments,Receivables,Inventories,Total current assets,"Property, Plant & Equipment Net",Goodwill and Intangible Assets,Long-term investments,...,Deposit Liabilities,Total non-current liabilities,Total liabilities,Other comprehensive income,Retained earnings (deficit),Total shareholders equity,Investments,Net Debt,Other Assets,Other Liabilities
0,2018-09-29,25913000000.0,40388000000.0,66301000000.0,48995000000.0,3956000000.0,234386000000.0,41304000000.0,0.0,170799000000.0,...,0.0,142649000000.0,258578000000.0,-3454000000.0,70400000000.0,107147000000.0,211187000000.0,48182000000.0,12087000000.0,39293000000.0
1,2017-09-30,20289000000.0,53892000000.0,74181000000.0,35673000000.0,4855000000.0,246674000000.0,33783000000.0,0.0,194714000000.0,...,0.0,140458000000.0,241272000000.0,-150000000.0,98330000000.0,134047000000.0,248606000000.0,41499000000.0,13936000000.0,38099000000.0
2,2016-09-24,20484000000.0,46671000000.0,67155000000.0,29299000000.0,2132000000.0,214817000000.0,27010000000.0,8620000000.0,170430000000.0,...,0.0,114431000000.0,193437000000.0,634000000.0,96364000000.0,128249000000.0,217101000000.0,19877000000.0,8283000000.0,30107000000.0
3,2015-09-26,21120000000.0,20481000000.0,41601000000.0,30343000000.0,2349000000.0,200967000000.0,22471000000.0,9009000000.0,164065000000.0,...,0.0,90380000000.0,170990000000.0,-345000000.0,92284000000.0,119355000000.0,184546000000.0,22727000000.0,15085000000.0,34121000000.0
4,2014-09-27,13844000000.0,11233000000.0,25077000000.0,27219000000.0,2111000000.0,163308000000.0,20624000000.0,8758000000.0,130162000000.0,...,0.0,56844000000.0,120292000000.0,1082000000.0,87152000000.0,111547000000.0,141395000000.0,10218000000.0,14124000000.0,26944000000.0

In [17]:
financials.dtypes

date                               object
Cash and cash equivalents          object
Short-term investments             object
Cash and short-term investments    object
Receivables                        object
Inventories                        object
Total current assets               object
Property, Plant & Equipment Net    object
Goodwill and Intangible Assets     object
Long-term investments              object
Tax assets                         object
Total non-current assets           object
Total assets                       object
Payables                           object
Short-term debt                    object
Total current liabilities          object
Long-term debt                     object
Total debt                         object
Deferred revenue                   object
Tax Liabilities                    object
Deposit Liabilities                object
Total non-current liabilities      object
Total liabilities                  object
Other comprehensive income         object
Retained earnings (deficit)        object
Total shareholders equity          object
Investments                        object
Net Debt                           object
Other Assets                       object
Other Liabilities                  object
dtype: object